.header{
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #FAFAFA;
    z-index: 2;

}

.logo-container{
    margin: auto;
}

.logo{
    font-size: 28px;
    font-weight: 700;
    background: #616161;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    text-decoration: none;
}

.header_gradient{
    z-index: 1;
    display: fixed;
    width: 100%;
    height: 55px;
    background-image: linear-gradient(to right, #0cebeb , #20e3b2, #29ffc6);
    position: fixed;
    box-shadow: 0px 0px 10px darkgrey;
}

.fixed{
    height: 55px;
}

.logo_img{
    padding-top: 12px;
    height: 25px;
}