.container_404{
    display: flex;
    margin: auto;
    height: 75vh;
}

.center_container_404{
    display: flex;
    margin: auto;
    flex-direction: row;
}

.center_container_404 div {
    margin: 10px;
}

.column_404{
    margin: auto;
    font-size: 2rem;
}

.big_size_404{
    font-size: 4rem;
    font-weight: 700;
}

.img_error_404{
    height: 200px;
}

.text_404{
    padding-top: 25px;
}