@import url('../fonts/inter-ui.css');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter UI', sans-serif;
    background-color: #FAFAFA;
    color: #616161;

    /* while using rem, 1rem === 10px */
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #000000;
}

.container {
    z-index: 0;
    margin: 40px auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 750px;
    padding: 40px;
    background-color: #EEEEEE;
    border-radius: 20px;
  }

.videoContainer {
    width: 240px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
}

.thumbnailContainer {
    height: 135px;
    width: 240px;
    background: #efefef;
    display: flex;
    background-color: #616161;
    overflow: hidden;
}

.thumbnailContainer>img {
    align-self: center;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    vertical-align: middle;
}

.duration {
    padding: 1px 4px;
    background-color: rgba(0, 0, 0, 0.781);
    color: #FFFFFF;
    position: absolute;
    border-radius: 4px;
    margin: 5px;
    font-size: 0.8rem;
}

.videoTitle {
    width: 95%;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #EEEEEE;
    height: 50px;
}

.videoLink
{
    width: 240px;
    height: 185px;
    display: flex;
    padding: 5px;
    justify-content: center;
    background-color: #EEEEEE;
}

.videoLink a
{
    background-color: #EEEEEE;
    width: 100%;
}

@media screen and (max-width: 940px) {
    .wrapContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 500px;
        padding: 40px;
        background-color: #EEEEEE;
        border-radius: 20px;
      }
}

@media screen and (max-width: 640px) {
    .wrapContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 250px;
        padding: 40px;
        background-color: #EEEEEE;
        border-radius: 20px;
      }
}
  

/* detail component */

.fullPageContainer
{
    margin: auto;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imagesColumnContainer 
{
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding: 25px;
    flex-wrap: wrap;
    background-color: #E0E0E0;
    border-radius: 10px;
}

.imagesColumnContainer img
{ 
    width: 20%;
}

.videoColumnContainer {   
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEEEEE;
    flex-direction: column;
    padding: 40px;
    border-radius: 25px;
    width: 50%;
    margin-bottom: 50px;
}

video{
    width: 100%;
}

.belowVideoContainer 
{   
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    background-color: #EEEEEE;
    width: 100%;
}

.belowVideoContainer a
{   
    background-color: #EEEEEE;
}

.video_title{
    margin: 10px;
    margin-top: 20px;
    width: 80%;
    background-color: #EEEEEE;
    font-size: 1.4rem
}

.videoDetailTitle
{
    font-size: 1.6rem
}

.download_button
{
    display: flex;
    margin-top: 10px;
    padding: 15px 12px 10px 10px;
    background-color: #616161;
    border-radius: 10px;
}

.download_text{
    width: 75%;
    margin-right: 5px;
    background-color: #616161;
    color: #EEEEEE;
}

.download_icon
{
    background-color: #616161;
}

.download_icon img
{
    width: 20px;
    margin-left: 5px;
    background-color: #616161;
}

.imageFromVideo
{   
    display: flex;
    width: 100%;
}

@media screen and (max-width: 1280px) {
    .fullPageContainer
    {
        margin: auto;
        padding: 2%;
        padding-top: 3%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .imagesColumnContainer img
    { 
        width: 25%;
    }

    .video_title{
        margin: 10px;
        width: 80%;
        background-color: #EEEEEE;
        font-size: 1.2rem
    }

    .download_button
    {
        display: flex;
        margin-top: 10px;
        padding: 8px 8px 8px 8px;
        background-color: #616161;
        border-radius: 10px;
    }

    .download_text{
        width: 75%;
        font-size: 0.9rem;
        margin-right: 5px;
        background-color: #616161;
        color: #f5f5f5;
    }

    .download_icon
    {
        background-color: #616161;
    }

    .download_icon img
    {
        width: 15px;
        margin-left: 5px;
        background-color: #616161;
    }

    .videoColumnContainer {   
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #EEEEEE;
        flex-direction: column;
        padding: 40px;
        border-radius: 25px;
        width: 60%;
        margin-bottom: 50px;
    }
  }

  @media screen and (max-width: 960px) {
    .fullPageContainer
    {
        margin: auto;
        padding: 2%;
        padding-top: 4%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .imagesColumnContainer img
    { 
        width: 33%;
    }

    .video_title{
        margin: 10px;
        width: 80%;
        background-color: #EEEEEE;
        font-size: 1.0rem
    }

    .videoColumnContainer {   
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #EEEEEE;
        flex-direction: column;
        padding: 40px;
        border-radius: 25px;
        width: 70%;
        margin-bottom: 50px;
    }
  }

  @media screen and (max-width: 640px) {
    .fullPageContainer
    {
        margin: auto;
        padding: 2%;
        padding-top: 6%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .imagesColumnContainer img
    { 
        width: 50%;
    }

    .video_title{
        margin: 10px;
        width: 80%;
        background-color: #EEEEEE;
        font-size: 1.0rem
    }

    .download_text{
        display: none;
        width: 75%;
        font-size: 0.9rem;
        margin-right: 5px;
        background-color: #616161;
        color: #f5f5f5;
    }

    .download_icon img
    {
        width: 15px;
        margin-right: 5px;
        background-color: #616161;
    }

    .videoColumnContainer {   
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #EEEEEE;
        flex-direction: column;
        padding: 30px;
        border-radius: 25px;
        width: 70%;
        margin-bottom: 50px;
    }
  }

  @media screen and (max-width: 480px) {
    .fullPageContainer
    {
        margin: auto;
        padding: 2%;
        padding-top: 7%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .imagesColumnContainer img
    { 
        width: 100%;
    }

    .video_title{
        margin: 10px;
        width: 80%;
        background-color: #EEEEEE;
        font-size: 1.0rem
    }

    .download_text{
        display: none;
        width: 75%;
        font-size: 0.9rem;
        margin-right: 5px;
        background-color: #616161;
        color: #f5f5f5;
    }

    .download_icon img
    {
        width: 15px;
        margin-right: 5px;
        background-color: #616161;
    }

    .videoColumnContainer {   
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #EEEEEE;
        flex-direction: column;
        padding: 20px;
        border-radius: 25px;
        width: 70%;
        margin-bottom: 50px;
    }
  }

  .backButton 
{
    position: fixed;
    background-color: none;
    top: 90px;
    left: 30px;
    width: auto;
}

.backButton svg 
{
    width: 50px;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
}

@media screen and (max-width: 800px) {
    .backButton 
    {
        position: fixed;
        background-color: none;
        top: 90px;
        left: 10px;
        width: auto;
    }
    
    .backButton svg 
    {
        width: 40px;
        height: 100%;
        max-width: 50px;
        max-height: 50px;
    }
}

@media screen and (max-width: 520px) {
    .backButton 
    {
        position: fixed;
        background-color: none;
        top: 90px;
        left: 10px;
        width: auto;
    }
    
    .backButton svg 
    {
        width: 30px;
        height: 100%;
        max-width: 50px;
        max-height: 50px;
    }
}

@media screen and (max-width: 400px) {
    .backButton 
    {
        position: fixed;
        background-color: none;
        top: 90px;
        left: 5px;
        width: auto;
        display: none;
    }
    
    .backButton svg 
    {
        width: 30px;
        height: 100%;
        max-width: 50px;
        max-height: 50px;
        display: none;
    }
}
  
  