.container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    }
    


.thumbnailContainer {
    width: fit-content;
    position: relative;
}

.duration {
    padding: 1px 4px;
    background-color: rgba(0, 0, 0, 0.781);
    color: #FFFFFF;
    position: absolute;
    bottom: -9px;
    right: 4px;
    border-radius: 4px;
    font-size: 0.8rem;
}

.thumbnailContainer img {
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
    border-radius: 2px;
}

h2 {
    margin: 5px 10px 0 0;
    max-width: 90%;
    font-size: 0.9rem;
}

    